<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Thanks </h1>
    <p>Thanks for writing a blog post called <%= @blog_post.subject%>!</p>
  </body>
  </body>
</html>