/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


 h2{
 	font-family: 'Oswald', sans-serif!important;
 }
 	h2 a {
 		color: #333
 	}

 	h2 a:hover {
 		color: #58a6bc;
 		text-decoration: none;
 	}

 body {
 	font-family: 'Open Sans', sans-serif!important;
 	background: #f3f3f3!important;
/*	background: #463e3b url(handstand.jpg) no-repeat !important;
	background-size: cover!important;*/
 }

.date, .comments a, .no-comments {
	color: #c3c2be;
	font-size: .85em;
	text-transform:uppercase;
}

	.comments a:hover {
		color: #90908b;
		text-decoration: none;
	}

.author {
	margin: 20px 0;
}

.text-area{
	width:90%;
}

.truncate {
	margin:10px 0 20px;
}

	.truncate code {
		width:200px;
	}
